<div class="hero-image">
    <div class="hero-text">
        <h1>Eat a burger</h1>
        <h3>You know you want one</h3>
        <h3>Which one do you want to eat first?</h3>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class=col-md-6>
            <h4>These are burgers I want to try</h4>
            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                <li>{{this.burger_name}}<button type="button" class="devour btn btn-outline-warning btn-sm" data-id="{{this.id}}">Devour</button></li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>

        <div class=col-md-6>
            <h4>These are the awesome burgers I tried</h4>
            <ul>
                {{#each burgers}}
                {{#if devoured}}
                <li>{{this.burger_name}}</li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>

<div class="row">
<div class="col-md-4"></div>
<div class="col-md-4">
<h3>Add A Burger</h3>
<form id="add-burger" class="create-form">
    <div class="form-group">
        <label for="validationDefault01">Burger Name:</label>
        <input type="text" class="form-control" id="burgerName" name="burgerName" id="validationDefault01" placeholder="Enter a burger name" required><br>
    </div>
    <button type="submit" class="btn btn-warning">Add My Burger</button>
</form>
</div>
</div>
{{!-- Photo by amirali mirhashemian on Unsplash --}}
</div>
<script type="text/javascript">

    $(".devour").on("click", function (event) {
        var id = $(this).data("id");

        $.ajax("/api/burger/"+id, {
            type: "PUT",
        }).then(
            function () {
                console.log("changed burger to devoured");
                // Reload the page to get the updated list
                location.reload();
            }
        );
    });

    $("#add-burger").on("submit", function (event) {
        // Make sure to preventDefault on a submit event.
        event.preventDefault();

        var newBurger = {
            burger_name: $("#burgerName").val().trim(),
        };
        console.log("burger_name");
        // Send the POST request.
        $.ajax("/api/burger", {
            type: "POST",
            data: newBurger
        }).then(
            function () {
                console.log("created new burger");
                // Reload the page to get the updated list
                location.reload()
            }
        );
    });


</script>